.homepage-container {
    /* border: 2px solid red; */
    margin: 5em 1em 0 1em;
    height: 25em;
}

th, td {
    width: 10em;
    height: 5em;
    border: 2px solid rgba(0, 0, 0, .5);
}

.tasks {
    height: 10em;
}

.timeline {
    height: 15em;
}

.eod {
    height: 8em;
}
